.btn-orange{
    background-color: #fec887;
    transition: all .5s;
}
.btn-orange:hover{
    background-color: transparent;
    border: 1px solid #fec887 ;
}
.bg-orange{
    background-color: #fec887;
}
.bg-pink{
    background-color: #fff3db;
}
.pointer{
    cursor: pointer;
}
@media screen and (min-width:768px) {
    .overflow-x-scroll {
        overflow-x: hidden !important;
    }
}
@media screen and (max-width:576px) {
    .overflow-x-scroll {
        overflow-x: scroll !important;
    }
}


